.contact-wraper {
    color: #7f5c8e;
    float: left;
    font-family: "UVN_Tin_Tuc_Nhe";
    font-size: 18px;
    width: 100%;
    text-align: justify;
}

.contact {
    float: left;
    width: 100%;
    margin-top: 15px;
    position: relative;
    margin-bottom: 27px;
}

.title {
    float: left;
    width: 100%;
    text-align: center;
}

.txt, .txtnd, .txtmin {
    width: 300px;
    height: 30px;
    border: 1px solid #B2B2B2;
    margin-top: 5px;
    background-color: transparent;
    color: #FFF;
    padding-left: 5px;
    font-family: Tahoma;
    border-radius: 2px;
}

.c-txt, .c-txtnd, .c-txtmin {
    color: #000;
    font-size: 15px;
}


.capcha {
    border: 1px solid #fff !important;
    border-radius: 3px;
    height: 30px;
    margin-left: 20px;
    position: absolute;
    right: 244px;
    top: 5px;
    width: 100px;
}

.txtnd {
    width: 500px;
    height: 150px;
}

.txtmin {
    width: 150px;
}

.btnrefresh {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 200px;
    top: 6px;
    background-color: transparent;
    background-image: url("/Design/refresh.png");
    background-size: 100% 100%;
}

.btn {
    background-color: rgba(155, 0, 0, 1);
    color: #FFF;
    float: left;
    font-family: "UVN_Van";
    font-size: 18px;
    font-weight: bold;
    width: 157px;
    padding: 5px 0;
    margin-top: 5px;
    border-radius: 3px;
    transition: all .2s ease;
}

    .btn:hover {
        background-color: #f54a15;
    }

.titletb {
    color: red;
}

.succesfull {
    font-weight: bold;
    color: green;
}

.map-direction {
    position: absolute;
    right: 0;
    top: 0;
    font-weight: bold;
    color: #920000;
}


/*css for list contact*/
.qa {
    float: left;
    width: 96%;
    padding: 3%;
    text-align: justify;
    background-color: #fff;
    border-radius: 6px;
}

.question {
    float: left;
    width: 100%;
    position: relative;
    margin-top: 5px;
    margin-bottom: 0px;
    font-family: Tahoma;
}

    .question a {
        color: #231e1e;
        font-family: Tahoma;
        font-weight: bold;
        font-size: 13px;
    }

    .question:hover {
        color: #920000;
    }

    .question a:hover {
        text-decoration: underline;
    }


.search-retult-line {
    float: left;
    width: 100%;
    margin-bottom: 3px;
}

    .search-retult-line a {
        color: #00000F;
        font-size: 14px;
        font-family: HongHaHep;
    }

    .search-retult-line:hover {
        /*text-decoration: underline;*/
        background-color: rgba(20,143,75,0.2);
    }

.answer {
    float: left;
    width: 93%;
    font-size: 13px;
    font-family: Tahoma;
    margin-left: 5%;
    /*background-color: #dee9e4;*/
    background-color: rgba(146, 0, 0, 0.2);
    border-radius: 5px;
    padding: 1%;
    position: relative;
}

.qa-detail.answer {
    /*background-color: #FFF;*/
    background-color: rgba(146, 0, 0, 0.2);
    /*border: 1px solid #D0D0D0;*/
}

    .qa-detail.answer:hover {
        /*background-color: rgba(146, 0, 0, 0.2);*/
    }

    .qa-detail.answer p {
        float: left;
        width: 100%;
    }

.answer img, .question img {
    float: left;
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.answer img {
    /*display: none;*/
}

.answer:hover {
    /*background-color: #FFFFC6;*/
}

.answer a {
    font-size: 11px;
    color: red;
    text-decoration: underline;
}

.bv {
    color: #c7a91b;
}

.hd {
    color: grey;
}

.ma {
    color: #b41010;
}

.tb {
    color: #920000;
    font-size: 14px;
    margin-bottom: 5px;
    float: left;
    font-family: HongHaHep;
}

.rs {
    color: blue;
}
