.article-category-title {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

    .article-category-title h1 {
        float: left;
        width: 100%;
        font-family: HongHaHepB;
        font-size: 18px;
        color: #FFF;
        text-align: center;
        text-transform: uppercase;
    }

.c-article-category-title h1 {
    color: #920000;
}

.content-detail {
    float: left;
    width: 100%;
    color: #FFF;
    font-family: Arial;
    font-size: 14px;
    line-height: 18px;
    text-align: justify;
}

    .content-detail h4 {
        float: left;
        width: 100%;
        font-weight: 600;
        font-family: HongHaHepB;
        font-size: 16px;
    }

.c-content-detail {
    color: #000;
}

.meta {
    color: #B2B2B2;
    float: left;
    font-size: 12px;
    margin-bottom: 9px;
    width: 100%;
    text-align: left;
    font-family: HongHaHep;
}

.text {
    float: left;
    margin-bottom: 10px;
    text-align: justify;
    width: 100%;
}

    .text p, .text div {
        float: left;
        width: 100%;
    }


.articlerang {
    float: left;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

    .articlerang h4 {
        float: left;
        padding-right: 5px;
        margin-bottom: 9px;
        border-bottom: 1px solid #BDBDBD;
        font-family: HongHaHepB;
        font-size: 19px;
        color: #BDBDBD;
        padding-bottom: 2px;
    }

.c-articlerang h4 {
    color: #920000;
}

.item {
    float: left;
    width: 100%;
}

.border {
    float: left;
    width: 100%;
    height: 1px;
    background-color: #6793ca;
    margin-bottom: 5px;
}

.Description {
    float: left;
    width: 100%;
}

    .Description a {
        float: left;
        margin-right: 9px;
        color: #F2F2F2;
        font-family: HongHaHep;
    }

    .Description img {
        float: left;
        width: 18px;
        height: 20px;
        margin-right: 5px;
    }

    .Description a:hover {
        text-decoration: underline;
    }

    .Description > i.meta {
        width: 100px;
        margin-top: 2px;
    }

.c-Description a {
    color: #000;
}
